<!DOCTYPE html>
<html lang="en" ng-app="demoClear">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>demo clear</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material-clear/src/angular-material-with-clear.css">
  <style>
  .clear-icon-select {
    margin-top: -9px;
    right: 130px;
    top: 50%;
  }
  
  .clear-name {
    width: 300px;
  }
  
  .clear-sex {
    width: 500px;
  }
  
  .clear-select {
    width: 300px;
  }
  
  md-select .md-select-label {
    min-width: 200px;
  }
  </style>
</head>

<body>
  <div ng-controller="DemoCtrl" style="margin: 20px;">
    <div layout="row">
      <md-input-container md-no-float fcclear fc-class="clear-name" fc-icon-class="clear-icon" flex="40">
        <input ng-model="name" placeholder="Name">
      </md-input-container>
      <span flex></span>
      <md-input-container md-no-float fcclear fc-class="clear-sex" fc-icon-class="clear-icon" flex="40">
        <input ng-model="Sex" placeholder="Sex">
      </md-input-container>
    </div>
    <md-select placeholder="Select" fc-class="clear-select" fc-icon-class="clear-icon-select" fcclear ng-model="projectSelect" ng-change="updateProjectSelect()">
      <md-option ng-value="project" ng-repeat="project in projects">{{ project.name }}</md-option>
    </md-select>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
  <script src="bower_components/angular-material-clear/src/angular-material-with-clear.js"></script>
  <script>
  angular
    .module('demoClear', [
      'ngMaterial',
      'ngMdIcons',
      'fc.clear'
    ]).controller('DemoCtrl', DemoCtrl);

  function DemoCtrl($scope) {
    $scope.projects = [{
      name: 'abce',
    }, {
      name: 'cdfr'
    }];

    $scope.updateProjectSelect = function() {
      console.log($scope.projectSelect.name);
    }
  }
  </script>
</body>

</html>
